.user-creation-form {
    display: flex;
    flex-direction: column;
    background-color: beige;
    width: 20%;
    margin: auto;
}

.user-creation-form input {
    width: 50%;
    margin: auto;
    margin-bottom: 1em;
}

.user-creation-form button {
    background-color: lightcoral;
    border: 5px solid brown;
}

.user-collection {
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, 100px);
    padding: 1em;
    gap: 1em;
}

.user-box {
    background-color: rgb(165, 112, 214);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2vmin;
}

.user-box button {
    width: 50%;
    margin: 0 auto;
}

.button-holder {
    display: flex;
}