.user-creation-form {
    display: flex;
    flex-direction: column;
    background-color: beige;
    width: 20%;
    margin: auto;
}

.user-creation-form input {
    width: 50%;
    margin: auto;
    margin-bottom: 1em;
}

.user-creation-form button {
    background-color: lightcoral;
    border: 5px solid brown;
}

.user-collection {
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 100px 100px;
    padding: 1em;
    gap: 1em;
}

.user-box {
    background-color: rgb(126, 81, 168);
    display: flex;
    flex-direction: column;
    justify-content: center;
}