@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 100vw;
  max-height: 100vh;
  text-align: center;
}

.App {
  font-size: calc(3vmin + 10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: aquamarine;
  height: 100vh;
  width: 100vw;
}

ul li {
  padding: 1em;
  list-style: none;
}